<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Provide ID</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="row" id="login-area">
        <div class="col-md-6 offset-md-3">
            <h3> YOUR USER ID </h3>
            <input id="login-box" class="form-control" placeholder="user id">
            <button class="btn btn-success" id="login-go">Go</button>
        </div>
    </div> 
</body>
<script type="module" src="/static/login.js"></script>
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyleft &copy; Rocky Li</p>
    </div>
</footer>
</html>
